<nav class="navbar navbar-expand-lg">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <img
      class="logo"
      src="../../../assets/images/logo/Trijal FinanceCropped.png"
      alt=""
    />

    <div class="d-flex align-items-center d-lg-none">
      <i class="navbar-icon bi-telephone-plus me-3"></i>
      <a class="custom-btn btn" (click)="signupclick()"> Sign Up </a>
    </div>

    <div class="collapse navbar-collapse ms-lg-5" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link click-scroll" href="#section_1">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link click-scroll" href="#section_2">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link click-scroll" href="#section_3">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link click-scroll" href="#section_4">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link click-scroll" href="#section_6">Open Demat</a>
        </li>
      </ul>

      <div class="d-lg-flex align-items-center d-none ms-auto">
        <i class="navbar-icon bi-telephone-plus me-3"></i>
        <a class="custom-btn btn mx-2" (click)="signupclick()"> Sign-up  </a>
        <a class="custom-btn btn" (click)="loginClick()"> Login  </a>
      </div>
    </div>
  </div>
</nav>
<app-sign-up
  [showSignUp]="signupDialog"
  (signUp)="signupDialog = false"
></app-sign-up>

